# Archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
*.dll
*.exe
*.pdb

# Archivos de configuración sensibles
AcortadorURL/appsettings.json
AcortadorURL/appsettings.Development.json
.env

# Archivos de Docker
docker-compose.override.yml
# Ignorar configuraciones locales
AcortadorURL/Properties/launchSettings.json

# Ignorar dependencias locales
AcortadorURL/Properties/serviceDependencies.local.json
.env

*.sql